{{define "main"}}
{{template "header" .}}
<h1 class="alert alert-info">Вход в систему</h1>
<div class="container">
    {{with .Errors.message}}
    <div class="alert alert-danger">
        {{.}}
    </div>
    {{end}}
    <form method="POST" action="/login">
        <label class="form-control" for="uname">Электронная почта</label>
        <input class="form-control" type="text" id="uname" name="uname">
        <label class="form-control" for="password">Пароль</label>
        <input class="form-control" type="password" id="password" name="password">
        <button class="btn btn-info" type="submit">Подтвердить</button>
    </form>
</div>
<div class="alert alert-info" role="alert">
    <a class="alert-link" href="/signup">Зарегистрироваться</a>
</div>
{{end}}